<%- include("partials/navbar.ejs") %>

  <div class="header mb-10">
    <h1 class="text-gray-800 text-center text-3xl font-bold mt-5">Enter your Comments Below</h1>
  </div>

<div id="Form-Container">
  <form class="flex flex-col justify-center items-center">

    <!-- Subject Input -->
    <div class="my-3 w-2/5">
      <input type="text" name="Subject" placeholder="Subject"
        class="w-full rounded-lg block my-3 border-gray-300">
    </div>
    
    <!-- Body Textarea -->
    <textarea name="Body" class="w-2/5 h-60 rounded-lg block mx-auto text-left border-gray-300 p-2 resize-none"
      placeholder="Body"></textarea>

    <!-- Submit Button -->
    <input type="submit" name="submit" value="Submit"
      class="mx-auto bg-gray-800 hover:bg-gray-600 text-white rounded transition duration-300 my-5 py-2 px-3">

  </form>
</div>

  </main>




  <%- include("partials/footer.ejs") %>
